
h1
{
	color: rgb(50, 136, 248); 
	font-size: 40px;
}
.body_background
 {
background-image: url("bg1.jpg");
background-position: center;
background-size: cover;

}

#myCanvas
{
border-width: 10px;
background-color:cornflowerblue;
border-style:ridge ;
}
